

.AccountSettings .btn {
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
}
.buttonwrapper
{text-align:center
}

.AccountSettings{

}
/* Darker background on mouse-over */
.AccountSettings .btn:hover {
    background-color: darkgray;

}
.wrapper-input{
    width:50%;
    display: inline-block;
}
.wrapper-input input{
    display: block;
    padding: 15px 0;
    margin: 5px 0 21px 0;
    border: none;
    background: #f1f1f1;
    width: 100%;
}
.wrapper-input label
{
    font-weight: bold;
    font-size :20px;
    text-align: left;
    display: block;
}