html {
    font-family: sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

.content-left {
    height: 100%;
    position: fixed;
    top: 0;
}

.content-left {
    float: left;
}

.content-right {
    padding-top: 100px;
    overflow: hidden;
    padding-left: 182px;

}