.sidebar-items-container {
    list-style-type: none;
    background-color: #313541;
    display: inline-block;
    margin: 0;
    height: 100%;
    padding: 100px 0 0 0;
}

.sidebar-items-container .sidebar-item {

}

.sidebar-items-container .sidebar-item:hover {
    background-color: #E44C6F;
}

.sidebar-items-container .sidebar-item:hover a {
    color: white;
}

.sidebar-items-container  a {
    padding: 18px 25px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    display: block;
}
